.login-page{
  text-align: center;
  margin-top: 10rem;
}

#controls{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

a{
  margin-left: 1rem;
}

mat-form-field{
  width: 50%;
}
